RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login/activation/([a-zA-Z0-9_-]+)/$ index.php?code=$1
RewriteRule ^login/activation/([a-zA-Z0-9_-]+)$ index.php?code=$1
RewriteRule ^user/profile/([a-zA-Z0-9_-]+)/$ index.php?userNameDefaultPage=$1
RewriteRule ^user/profile/([a-zA-Z0-9_-]+)$ index.php?userNameDefaultPage=$1
RewriteRule ^user/profileBand/([a-zA-Z0-9_-]+)/$ index.php?userNameDefaultPage=$1
RewriteRule ^user/profileBand/([a-zA-Z0-9_-]+)$ index.php?userNameDefaultPage=$1
RewriteRule ^user/musicBand/([a-zA-Z0-9_-]+)/$ index.php?userNameMusicBand=$1
RewriteRule ^user/musicBand/([a-zA-Z0-9_-]+)$ index.php?userNameMusicBand=$1
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png|ico|mp3)$ [NC]
RewriteRule .* index.php [QSA,L]
Options -Indexes